.event-details h6 {
  margin-bottom: 0;
}

.entry-header {
  font-weight: 700;

  h4 {
    margin-bottom: 10px;
    font-size: inherit;
  }
}

.entry-meta span {
  line-height: 20px;
  display: inline-block;
}
