.cm-site-branding {
  img {
    height: 80px;
  }
}

#cm-site-info {
  h1.cm-site-title {
    font-size: 60px;
    line-height: 58px;
    letter-spacing: 1px;

    a {
      color: #ffffff;
    }
  }

  p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #ffffff;
  }
}
