.cm-container {
  max-width: 1320px !important;
}

.content-with-sidebar {
  display: flex;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .content-area {
    flex: 1 1 70%;
  }

  .sidebar-area {
    flex: 1 1 25%;
  }
}
