$color-dark: #111;
$color-darker: #222;
$color-accent: #e60073;
$color-purple: #8e00e6;
$color-blue: #0073e6;
$color-orange: #e65400;

$font-body: 'Heebo', sans-serif;
$font-headings: 'Bebas Neue', sans-serif;

$max-width: 1388px;
