# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Sass cache
.sass-cache/
*.css.map

# Compiled CSS
css/underfloripa-events.min.css

# System files
.DS_Store
Thumbs.db

# WordPress
/wp-content/plugins/underfloripa-events/vendor/
/wp-content/plugins/underfloripa-events/.idea/
/wp-content/plugins/underfloripa-events/.vscode/
