@use "../base/variables" as *;

#back-to-top {
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	z-index: 999;
	background: $color-dark;
	color: $color-offwhite;
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	opacity: 0.75;
	transition: opacity 0.3s ease;
}

#back-to-top:hover {
	opacity: 1;
}

#back-to-top.hidden {
	display: none;
}
