@use "../base/variables" as *;

.event {
	margin-bottom: 30px;
	clear: both;

	&-thumbnail {
		float: left;
		max-width: 30%;
		width: 240px;

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	&-details {
		overflow: hidden;

		h3 {
			font-size: 1.75rem;
			font-weight: 400;
			line-height: 1.2;
			text-decoration: underline;
		}

		h4 {
			font-family: $font-body;
			font-weight: 500;
		}

		&__item {
			margin-bottom: 1rem;

			ul {
				list-style: none;
				padding: 0 !important;
				margin: 0 !important;

				li {
					font-size: 1rem;

					.button {
						margin-top: 1rem;
					}
				}
			}
		}
	}

	&-buttons {
		margin-top: 10px;
		display: flex;
		gap: 16px;
	}
}
