.event-single {
	display: flex;
	padding-top: 3rem;
	margin-top: 180px;

	@media (max-width: 768px) {
		flex-direction: column;
	}

	article {
		display: flex;
		gap: 2rem;

		.featured-image {
			flex: 0 0 30%;

			img {
				width: 100%;
				height: auto;
				object-fit: contain;
			}
		}

		h1 {
			line-height: 1.1;
			margin-bottom: 1rem;
		}

		.related-excerpt {
			margin-bottom: 2rem;
		}

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 1.5rem;

			.featured-image {
				flex: none;
				max-width: 100%;
			}
		}
	}
}